CARTESIA_API_KEY=""

DEEPGRAM_API_KEY=""

AZURE_OPENAI_ENDPOINT= ""
AZURE_OPENAI_API_KEY= ""
AZURE_OPENAI_DEPLOYMENT= ""
OPENAI_API_VERSION=""

LIVEKIT_API_KEY=""
LIVEKIT_API_SECRET=""
LIVEKIT_URL=""


OPENAI_API_KEY=""

ELEVEN_API_KEY=""

SIP_OUTBOUND_TRUNK_ID=""



GROQ_API_KEY=""

SPEECHMATICS_API_KEY=""


AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""


CEREBRAS_API_KEY=""

RIME_API_KEY= ""
