.venv
.env.local
appabc.py
ascode.py
backend1.py
bkcode.py
instructions-metrics.csv
latency_metrics.csv
latency_metricsrime.csv
latency_metricsttfb.csv
latency_metricsttfb1.csv
main.py
metrics_log.csv
newcode1.py
nkcode.py
nkcode1.py
nkcodecopy.py
nscode.py
outbound-trunk.json
services.zip
sonic-2-metrics.csv
sonic-2-metrics1.csv
tokenization-metrics-dcc.xlsx
latency_metrics_new.csv
latency_metricsttfbrime.csv
latencymetcerebras.csv
live-metrics.xlsx
new_metrics_cmp.csv
new_metrics_tokenize.csv
latencymetgrok.csv
openai-metrics-report.csv